# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Serverless directories
.serverless
.idea/AWS_ToDo.iml
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml

# Node stff
node_modules